.header {
  background-color: var(--brand-blue);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.navLink {
  color: #e0e0e0;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: white;
}

.activeLink {
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 12px;
  color: white;
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.logoutButton:hover {
  background-color: white;
  color: var(--brand-blue);
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

/* Estilo para o novo link de Acesso Restrito */
.restrictedAccessLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #5a67d8; 
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.restrictedAccessLink:hover {
  background-color: #434190;
}


.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
