.page {
  min-height: 100vh;
  background-color: var(--background-color);
}

.main {
  padding: 24px;
}

.pageHeader {
  margin-bottom: 32px;
}

.title {
  font-family: var(--font-poppins);
  color: var(--text-secondary);
  font-size: 2.25rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--text-secondary);
  margin-top: 4px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
}
.page {
  min-height: 100vh;
  background-color: var(--background-color);
}

.main {
  padding: 24px;
}

.cardsContainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 16px;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}
